.form-wrapper {
  .ad-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-controls {
    display: flex;
    gap: 12px;
  }

  .form-controls button {
    flex-grow: 1;
    max-width: 90%;

    &:last-child {
      width: 80px;
    }
  }

  .steps-panel {
    margin: 0 auto;
    max-width: 40%;
  }
}
